NODE_ENV=production

TELEGRAM_ACCESS_TOKEN=sa
BOT_USERNAME=as
SUPPORT_USERNAME=as
WEBHOOK_URL=https://megaex.org
WEBHOOK_PORT=8443

JWT_SECRET=213
HASH_SALT=asd

PAYMENT_EXPIRY_S=120
CONTEXT_EXPIRY_S=20

DB_USERNAME=one
DB_PASSWORD=
DB_HOST=localhost
DB_DATABASE_NAME=postgres

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_PASSWORD=
